@import url(./style.css);

div.pagination{
    display: grid;
    place-items: center;
    margin-bottom: .5rem;
    ul.pagination{
        display: flex;
        li{
            font-size: 1.5rem;
            border: .1rem solid #ddd;
            padding: .6rem 1.2rem;
            &:first-child, &:first-child.active{
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }
            &:last-child, &:last-child.active{
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }
            a{
                text-decoration: none;
                color: black;
                margin-left: -0.1rem;
            }
            &.active{
                background-color: #337ab7;
                border-color: #337ab7;
                a{
                    color: white;
                }
            }
            &:hover{
                background-color: #eee;
            }
        }
    }
}